<div class="container-home">
  <app-navbar [propItem]="menuItem"></app-navbar>
  <div class="first-image">
    <div class="ml-5">
      <div class="font-title bold pt-5 text-white fade-in-text">
        Tentang Kami
      </div>
      <div class="row justify-content-md-start">
        <div
          class="col-12 col-md-6 font-sub pt-5 text-white line-height-3 fade-in-text px-5"
        >
          Mabar Kuy adalah salah satu i-cafe di indonesia yang mempunyai sistem
          untuk membooking PC yang sudah disediakan oleh pihak Mabar Kuy. Mabar
          Kuy menyediakan PC dengan high-end performance.
        </div>
      </div>
      <button
        type="button"
        pButton
        class="p-button-success p-button-sm mt-5 fade-in-text"
        routerLink="/about-us"
      >
        Cek Selengkapnya
      </button>
    </div>
  </div>
</div>
